<th:block th:fragment="modalCustomer">
  <div class="modal fade" id="modalCustomer" tabindex="-1" aria-labelledby="showCustomerModal"
       data-bs-dismiss="modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="showCustomerModal">Information Customer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="area-error hide">
          </div>
          <form id="frmCustomer" method="post">
            <div class="col-md-12 form-group" style="text-align: center;">
              <img src="/img/cat-1.jpg" id="imgCustomer" style="width: 150px;height: 150px">
            </div>
            <div class="col-md-12 form-group">
              <label>Full Name</label>
              <input class="form-control" type="text" id="name">

            </div>
            <div class="col-md-12 form-group">
              <label>E-mail</label>
              <input class="form-control" type="text"  id="email">
            </div>
            <div class="col-md-12 form-group">
              <label>Mobile No</label>
              <input class="form-control" type="text"  id="phone">
            </div>
            <div class="col-md-12 form-group">
              <label>Date of birth</label>
              <input class="form-control" type="date"  id="dob">
            </div>
            <div class="col-md-12 form-group">
              <button class="btn btn-success" type="button" id="btn-update-customer">Update</button>
              <button class="btn btn-warning" type="button" >Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</th:block>