<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{/layout/head::head}"></th:block>
    <title>MultiShop - Online Shop Website Template</title>
</head>

<body>
<!-- Topbar Start -->
<th:block th:replace="~{/layout/head::nav}"></th:block>
<!-- Navbar End -->


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Checkout</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text" id="nameCheckout" readonly>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="text" id="emailCheckout" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input class="form-control" type="text" id="phoneCheckout" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Dob</label>
                        <input class="form-control" type="text" id="dobCheckout" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span
                    class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom renderCarts">
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6 id="subtotalCheckout">$150</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">0$</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5 id="totalCheckout">$160</h5>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span
                        class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <form id="frmAddToBIll">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal" required>
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directCheck" checked>
                            <label class="custom-control-label" for="directCheck">Direct Check</label>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="bankTransfer" required>
                            <label class="custom-control-label" for="bankTransfer">Bank Transfer</label>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold py-3" type="button" id="btnAddBill" >Place Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->


<!-- Footer Start -->
<th:block th:replace="~{layout/footer-scrip::footer}"></th:block>
<!-- Footer End -->

<!--Modal Cart-->
<th:block th:replace="~{/modalCartProduct::modalCart}"></th:block>
<!--Modal Cart end-->

<!--Modal Customer-->
<th:block th:replace="~{/layout/modalCustomer}"></th:block>
<!--Modal Customer end-->

<!-- Scrip -->
<th:block th:replace="~{layout/footer-scrip::scrip}"></th:block>

<script src="/js/appUtils.js"></script>

<script src="/js/modalMain.js"></script>
</body>

</html>